#work{
    .title-small span:after {
      background: transparent;
    }
    .row:first-child {
        margin-top:0;
        padding-top:0;
    }
    .row {
        margin: 0 -15px ;
        padding:60px 0;
        border-bottom: 1px solid #e0e0e0;
    }
    .row:last-child {
        padding-bottom:0;
        margin-bottom:0;
        border-bottom-width:0;
    }
    @media #{$max-480} {
        img {
            margin-left:-25px;
        }
    }
}
