a {
  color: #2f2f2f;
  text-decoration: none;
  transition: ease .6s;
  -webkit-transition: ease .6s;
  -moz-transition: ease .6s;
  -o-transition: ease .6s;
  -ms-transition: ease .6s;
}
a:hover {
  text-decoration: none;
  color: #818181;
}
a:focus {
  outline: none;
  color: #999999;
  text-decoration: none;
}

.btn{
    border-radius: 0;
}

.btn-primary  {
    background-color: #BF0033;
    font-family: 'Raleway-Light';
    font-size:1rem;
    border-color:transparent;
    &:hover{
        background-color:white;
        border-color:#BF0033;
        color:#BF0033;
    }
}

.btn-secondary  {
    background-color: rgba(0,0,0,0.4);
    font-family: 'Raleway-Light';
    font-size:1rem;
    color:white;
    border-color:white;
    &:hover{
        background-color: #BF0033;
        color: white;
    }
}
